
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Amethysta');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Tailwind

@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
p {
  font-family: 'Amethysta';
  font-size: 12pt;
}
.bg-gradient {
background: rgb(55,192,113); /* Old browsers */
background: -moz-linear-gradient(top, rgba(55,192,113,1) 0%, rgba(152,188,167,1) 56%, rgba(105,191,141,1) 56%, rgba(152,188,167,1) 56%, rgba(152,188,167,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(55,192,113,1) 0%,rgba(152,188,167,1) 56%,rgba(105,191,141,1) 56%,rgba(152,188,167,1) 56%,rgba(152,188,167,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(55,192,113,1) 0%,rgba(152,188,167,1) 56%,rgba(105,191,141,1) 56%,rgba(152,188,167,1) 56%,rgba(152,188,167,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37c071', endColorstr='#98bca7',GradientType=0 ); /* IE6-9 */
}
.fas{
  text-shadow: 1px 1px #272634;
}
.box-shadow {
  -webkit-box-shadow: 14px 13px 67px -9px rgba(0,0,0,0.25);
  -moz-box-shadow: 14px 13px 67px -9px rgba(0,0,0,0.25);
  box-shadow: 14px 13px 67px -9px rgba(0,0,0,0.25);

}
.not-allowed:hover {
  cursor: not-allowed
}
.icon-hover:hover {
  font-size: 115%;
  color: blue;
}

p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    
    

    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    .time {
        letter-spacing: 0.05em;
        font-size: 60px;
        padding: 5px 0;
    }
    .date {
        letter-spacing: 0.1em;
        font-size: 24px;
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
    }
}
.bg-special {
  background: #0f3854;
  background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
  background-size: 100%;
}

.py-5 {
  padding-top: 5em;
  padding-bottom: 5em;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}