
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Amethysta');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
p {
  font-family: 'Amethysta';
  font-size: 12pt;
}
.bg-gradient {
background: rgb(55,192,113); /* Old browsers */
background: -moz-linear-gradient(top, rgba(55,192,113,1) 0%, rgba(152,188,167,1) 56%, rgba(105,191,141,1) 56%, rgba(152,188,167,1) 56%, rgba(152,188,167,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(55,192,113,1) 0%,rgba(152,188,167,1) 56%,rgba(105,191,141,1) 56%,rgba(152,188,167,1) 56%,rgba(152,188,167,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(55,192,113,1) 0%,rgba(152,188,167,1) 56%,rgba(105,191,141,1) 56%,rgba(152,188,167,1) 56%,rgba(152,188,167,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37c071', endColorstr='#98bca7',GradientType=0 ); /* IE6-9 */
}
.fas{
  text-shadow: 1px 1px #272634;
}
.box-shadow {
  -webkit-box-shadow: 14px 13px 67px -9px rgba(0,0,0,0.25);
  -moz-box-shadow: 14px 13px 67px -9px rgba(0,0,0,0.25);
  box-shadow: 14px 13px 67px -9px rgba(0,0,0,0.25);

}
.not-allowed:hover {
  cursor: not-allowed
}
.icon-hover:hover {
  font-size: 115%;
  color: blue;
}